body {
  color:white;
  font-family: verdana, helvetica, sans-serif;
  margin-top: : 20px;
  padding-top: 20px;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
}

li a:hover {
  background-color: grey;
  color:white;
}

li a:link{
  color:grey;
}

li a:visited{
  color:yellow;
}
