body {
  color:white;
  font-family: verdana, helvetica, sans-serif;
  margin-top: : 20px;
  padding-top: 20px;

}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  display: inline;
}

li a:hover {
  background-color: grey;
  color:white;
}

li a:link{
  color:grey;
}

li a:visited{
  color:yellow;
}

.title {
  margin-left:35em;
  margin-right:35em;
  margin-top:2em;
  margin-bottom: 2em;
  color: white;
}

.text {
  margin-left:20em;
  margin-right:20em;
  margin-top:2em;
  margin-bottom: 2em;
}
